# 2FA Verification 

#### Variant | Mobile

#### Variant | Desktop