# 2FA Verification 
#### Last Updated: 1/20/2022
--------------------

### Description 

--------------------

#### Usage 

~~~

TFAVerificationView(
userPhoneNumber: 555555555,
issueVerificationCode: () => {print('verification code issued!')},
onUserSubmission: () => {print('user submitted code!')});

~~~

